# 2. label_descriptions.json

1. classes[categories]
    - name: shirts, pants, etc
    - supercategory: upperboby, lowerbody etc
    - level: 1  
    
  
2. attributes:
    - name: classic, polo, zebra, etc
    - supercategory: nickname, pattern, animal
    - level: 1, 2

In [1]:
import matplotlib.pyplot as plt
import matplotlib.image as mpimg

import pandas as pd
import numpy as np
import json

In [2]:
train_df = pd.read_csv('train.csv')
with open('label_descriptions.json', 'r') as file:
    label_desc = json.load(file)

sample_sub_df = pd.read_csv('sample_submission.csv')

## Details about Classes and Attributes

In [3]:
num_classes = len(label_desc['categories'])
num_attributes = len(label_desc['attributes'])
print(f'Total # of classes: {num_classes}')
print(f'Total # of attributes: {num_attributes}')

Total # of classes: 46
Total # of attributes: 294

In [4]:
categories_df = pd.DataFrame(label_desc['categories'])
attributes_df = pd.DataFrame(label_desc['attributes'])

In [5]:
pd.set_option('display.max_rows', 10)
attributes_df

      id               name    supercategory  level
0      0  classic (t-shirt)         nickname      1
1      1       polo (shirt)         nickname      1
2      2         undershirt         nickname      1
3      3     henley (shirt)         nickname      1
4      4   ringer (t-shirt)         nickname      1
..   ...                ...              ...    ...
289  336            peacock           animal      2
290  337              zebra           animal      2
291  338            giraffe           animal      2
292  339      toile de jouy  textile pattern      1
293  340              plant  textile pattern      1

[294 rows x 4 columns]

In [6]:
categories_df.head()

   id                      name supercategory  level
0   0             shirt, blouse     upperbody      2
1   1  top, t-shirt, sweatshirt     upperbody      2
2   2                   sweater     upperbody      2
3   3                  cardigan     upperbody      2
4   4                    jacket     upperbody      2